name: Lint & Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    name: Lint & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 3.4
          - 4.0
    steps:
      - uses: actions/checkout@v1
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
      - run: bundle exec rake lint
      - run: bundle exec rake spec
      - run: bundle exec rake integration_spec
